@using CMS.Models
@model List<CMS.Models.BoardModel>

<title>ViewData.title</title>

<h1>Devices</h1>
@if (Model != null)
{
    <table class="table table-hover table-striped">
        <thead >
        <tr>
            <td>
                Select
            </td>
            <td>
                #
            </td>
            <td>
                Device Name
            </td>
        </tr>
        </thead>
        <tbody>
        
        @foreach (BoardModel board in Model)
        {
        <tr>
            <td>
                <input type="button" class="btn btn-primary" value="Details" onclick="@("window.location.href='" + @Url.Action("BoardDetails", "Board", new {deviceId = board.deviceID}) + "'");" />
                <input type="button" class="btn btn-danger" value="Delete" onclick="@("window.location.href='" + @Url.Action("BoardDelete", "Board", new {deviceId = board.deviceID}) + "'");" />
            </td>
            <th scope="row" >
                @board.deviceID
            </th>
            <td>
                @board.device_name
            </td>
        </tr>
        }
        </tbody>
    </table>
}
else
{
    <span>
        <strong>
            You do not have any devices. <br />
            Add your device using the Register button
        </strong>
        <br />
    </span>
}
<input type="button" class="btn btn-default" value="Register new device" onclick="@("window.location.href='" + @Url.Action("BoardRegister", "Board") + "'");" />